.team-bg {
    /* height: 100vh; */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../assets/fondo2.jpg') 50% / cover no-repeat;
  }

.hero-team{
    padding: 3rem 5rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }

.team-title-cont{
    width: 100%;
}

.team-title{
    color: var(--color-dark-green);
    text-align: center;
    text-shadow: var(--text-shadow);
    font-family: var(--headline-font);
    font-size: var(--headline1-size);
    letter-spacing: 0.1125rem;
}

.team-boxes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

@media screen and (max-width: 834px) and (max-height: 1194px) {
  .hero-team{
    padding: 1.5rem 5rem;
    gap: 2rem;
    justify-content: space-evenly;
  }

  .professional-box{
    width: 18rem;
  }
}